- breadcrumbs = nil unless local_assigns.has_key?(:breadcrumbs)

= link_to 'Inibon', [:inibon,:root]
= ">"

- if breadcrumbs
  - breadcrumbs.each do |label,path|
    = link_to label, path 
    = ">"
- else
  - @chain.dup.each_with_index do |x,i|
    = link_to x.class.model_name.plural, [:inibon] + @chain.first(i) + [x.class.model_name.route_key]
    = ">"
    = link_to x.identification, [:inibon] + @chain.first(i) + [x]
    = ">"
  
  - if @thing
    = @thing.identification
  - elsif @things
    = @clazz.model_name.plural
