.breadcrumb
  = render 'inibon/breadcrumb'
  = render 'inibon/versions'

%h1 Listing #{@clazz.model_name.plural} for #{@chain.map{|x| x.identification}.join(' > ')}

- begin
  = render "inibon/#{@clazz.model_name.plural}/#{params[:action]}"
- rescue ActionView::MissingTemplate

.row
  .col-xs-6
    = link_to "New #{@clazz.name}", inibon.url_for([:new] + @chain + [@clazz.model_name.param_key]), class: 'btn btn-primary btn-lg'
  - if false # TODO
    .col-xs-6
      = form_tag url: find_key_path, html: {method: :get, class: 'form-inline'} do
        .form-group
          = text_field_tag :key, placeholder: 'Key', class: 'form-control'
        .form-group
          = submit_tag 'Buscar palabra clave'
%br

%table.table.table-bordered.table-striped
  %thead
    %tr
      - @clazz.column_names.each do |k|
        %th
          = k.to_s.humanize
      %th.actions

  %tbody
    - @things.each do |thing|
      %tr
        - @clazz.column_names.each do |k|
          %td= k == 'id' ? link_to(content_tag(:strong, thing.send(k)),inibon.url_for(@chain + [thing]), class: 'btn btn-primary') : h(thing.send(k))
        %td
          = link_to 'Show', inibon.url_for(@chain + [thing]), class: 'btn btn-info btn-sm'
          = link_to 'Edit', inibon.url_for([:edit] + @chain + [thing]), class: 'btn btn-warning btn-sm'
          = link_to 'Destroy', inibon.url_for( @chain + [thing]), confirm: 'Are you sure?', method: :delete, class: 'btn btn-danger btn-sm'

.row
  .col-xs-12
    = will_paginate(@things, {renderer: BootstrapPagination::Rails})

= link_to "New #{@clazz.name}", inibon.url_for([:new] + @chain + [@clazz.model_name.param_key]), class: 'btn btn-primary btn-lg'
