.breadcrumb
  = render 'inibon/breadcrumb'
  = render 'inibon/versions'

%h1 Nuevo #{@clazz.model_name.param_key.humanize} para #{@chain.map{|x| x.identification}.join(' > ')}

= form_for(@chain.last, as: :thingy, url: inibon.url_for(@chain), html: {class: 'form'}) do |f|
  = render 'inibon/shared/errors', object: f.object, name: f.object.class.name
  = render "form", f: f
  = f.submit 'Create', class: 'btn'

= link_to 'Show', inibon.polymorphic_url(@chain)
= link_to 'Back', inibon.polymorphic_url(@chain[0..-2] + [@clazz.model_name.route_key.to_sym])
