.breadcrumb
  = render 'inibon/breadcrumb', breadcrumbs: []
  = render 'inibon/versions'

.row
  %h1.col-md-12 Editing #{@version.identification}

.row
  .col-md-6
    = form_for inibon.url_for([@version]) do |f|
      = render 'form', f:f
      .form-group
        .col-xs-12.col-md-6
          = f.submit 'Update', class: 'btn'
    
.row
  .col-md-12
    = link_to 'Back', inibon.url_for([@version])
