- #encoding: utf-8
.row
  .col-md-6
    - cnt = Inibon::Key.with_missing_locales(@locale.key).count
    = "#{@locale.name} (#{@locale.key}): " 
    - if cnt.zero? 
      No missing translations
    - else
      != link_to("#{cnt} missing translations", inibon.url_for([:missing,@locale]))
  .col-md-6
    %h3 Import from YAML file
    = form_tag inibon.url_for([:from_yaml, @locale]), multipart: true do
      = file_field_tag 'yaml'
      = submit_tag 'Submit', class: 'btn'
